table,
th,
td {
	border: 1px solid blue;
}

table {
	border-collapse: collapse;
}


td {
	background-color: aqua;
	color: black;
	height: 26px;
}

th {
	background-color: green;
	color: white;
	height: 30px;
}

table {
	width: 300px;
}

caption {
	caption-side: bottom;
}
