h1 {
	text-align: center;
	color: red;
}

p.date {
	text-align: right;
	color: indigo
}

p.poet {
	text-align: justify;
	color: blue
}

p.test {
	word-wrap: break-word;
	width: 200px;
	border: 1px solid red;
}
