   p#special {
            background-color: yellow;
            color: red;
        }

        div.target {
            color: blue;
        }
a:link { color: yellow}
a:link { color: yellow}
a:link { color: yellow}